@charset "utf-8";
/* CSS Document */
body{ background-color:#eeeeee;}
#outer {
	margin-left: 5px;
	margin-top: 5px;
}
.boldTxt {
	font-weight: bold;
}
#canvas1 {
    position: absolute;
    margin: 600 0;
    border: 2px #808080 solid;
}
#canvas2 {
    position: absolute;
    margin: 600;
}
#canvas3 {
    position: absolute;
    margin: 600;
}
#canvas4 {
    position: absolute;
    margin: 500;
}

#min {
	width: 625px;
    height: 625px;
}


